.container {
    display: flex;
}

.sidebar {
    flex: 3;
}

.main-article {
    flex: 9;
}

.button {
    border: black 1px solid;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 3px;
}

.button > span {
    vertical-align: middle;
}
.main-article h1{
    text-align: center;
}
.content{
    height: 200px;
    border: black 1px solid;
    margin: 25px;
    display: none;

}